<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GlobalWeatherSoap" />
                <binding name="AdvertisingServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GlobalWeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
                contract="GlobalWeather2.GlobalWeatherSoap" name="GlobalWeatherSoap" />
            <endpoint address="http://lab.cheonghyun.com:8888/AdvertisingWebService/AdvertisingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AdvertisingServiceSoap"
                contract="AdvertisingService.AdvertisingServiceSoap" name="AdvertisingServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
