<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderManagerServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lab.cheonghyun.com:8888/AdvertisingService/OrderManagerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrderManagerServiceSoap"
                contract="AdvertisingService.OrderManagerServiceSoap" name="OrderManagerServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>