<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PurchasingServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lab.cheonghyun.com:8888/AdvertisingService/PurchasingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PurchasingServiceSoap"
                contract="AdvertisingService.PurchasingServiceSoap" name="PurchasingServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>